/* Reset styles */
#backgroundVideo {
    position: fixed;  /* Fixed position */
    right: 0;
    bottom: 0;
    min-width: 100%;  /* Minimum width and height to cover the screen */
    min-height: 100%;
    z-index: -1;  /* Place it behind the content */
    opacity: 0.3;  /* Make it very opaque */
    object-fit: cover;  /* Resize video to cover the screen */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);  /* Semi-transparent white background */
    display: grid;
    place-items: center;
    font-family: Arial, sans-serif; /* Add a default font */
}

.list {
    display: flex;
    gap: 0.25rem;
    transform-style: preserve-3d;
    list-style-type: none;

    &:hover :not(:hover) {
        margin: 0 -20px;
        transform: perspective(500px) rotateY(45deg) scale(0.95);
    }

    &:hover :not(:hover)::after {
        opacity: 0.4;
    }
}

.item {
    position: relative;
    width: 120px;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    transition: margin 0.5s, transform 0.5s;
    color: rgb(24, 49, 36);
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-of-type(1) { background-image: url(./assets/static/home1.jpg); }
    &:nth-of-type(2) { background-image: url(./assets/static/home2.jpg); }
    &:nth-of-type(3) { background-image: url(./assets/static/home3.jpeg); }
    &:nth-of-type(4) { background-image: url(./assets/static/home4.jpg); }
    &:nth-of-type(5) { background-image: url(./assets/static/home5.jpeg); }

    &:nth-of-type(1)::before { content: "Rails" }
    &:nth-of-type(2)::before { content: "Bars" }
    &:nth-of-type(3)::before { content: "Islands" }
    &:nth-of-type(4)::before { content: "Trim" }
    &:nth-of-type(5)::before { content: "Extras" }

    &:hover ~ .item {
        transform: perspective(500px) rotateY(-45deg) scale(0.95);
    }

    &:hover {
        transform: perspective(500px) rotateY(0) scale(1.2);
    }

    &::after {
        content: '';
        position: absolute;
        width: inherit;
        aspect-ratio: inherit;
        border-radius: inherit;
        background-color: rgb(88, 11, 221);
        opacity: 0;
        transition: opacity 0.5s;
    }

    &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(191, 243, 216);
        font-size: 2rem;
        font-weight: normal;
        text-shadow: 2px 2px 4px rgba(40, 3, 3, 0.5);
    }
}

.call-now-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8ac898;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e75353;
    }
}

/* Responsive styles for larger screens */
@media (min-width: 768px) {
    .list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .item {
        width: 150px;
        height: 200px;
    }
}
